*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10/16 =62.5%
}

body {
  font-family: $font-family-primary;
  font-weight: $font-weight-regular;
  line-height: 1.6;
  color: $color-blue-dark-grayish;
  background-color: $color-blue-light-very;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
