.btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
  height: 5.6rem;
  background-color: $color-primary;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  padding: 1.6rem 7.2rem;
  transition: all 0.2s;

  &_icon {
    width: 1.746rem;
    height: 1.6rem;
    // display: block;
    fill: $color-back;
  }

  &:hover {
    background-color: $color-primary-light;
    transform: translateY(0.3rem);
  }
  &:active {
    transform: translateY(-0.2rem);
  }
}

.quantityBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem 0.8rem;
  background-color: $color-blue-light-grayish;
  border-radius: 1rem;

  &_text {
    color: $color-blue-dark-very;
  }

  &_btn {
    width: 1.2rem;
    height: 1.2rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s;
    &:hover,
    &:active {
      background-color: transparent;
    }

    &-minus,
    &-plus {
      mask-size: contain;
      background-color: $color-primary;
      width: 1.2rem;
      height: 1.2rem;
    }

    &-minus {
      mask: url("/images/icon-minus.svg") no-repeat center;
    }
    &-plus {
      mask: url("/images/icon-plus.svg") no-repeat center;
    }

    &:hover > * {
      background-color: $color-primary-light;
    }

    &:active {
      transform: translateY(-0.3rem);
    }
  }
}

.thumbnails {
  display: flex;
  gap: 3.2rem;

  &__item {
    width: 9rem;
    height: 9rem;
    border-radius: 1rem;
    overflow: hidden;
  }
  &__active {
    border: 2px solid $color-primary;

    & > img {
      opacity: 0.75;
    }
  }

  &__img {
    width: 100%;
    cursor: pointer;
    transition: all 0.3;

    &:hover {
      opacity: 0.5;
    }
  }
}
