.btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
  height: 5.6rem;
  background-color: $color-primary;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  padding: 1.6rem 7.2rem;
  transition: all 0.2s;

  &_icon {
    width: 1.746rem;
    height: 1.6rem;
    // display: block;
    fill: $color-back;
  }

  &:hover {
    background-color: $color-primary-light;
    transform: translateY(0.3rem);
  }
  &:active {
    transform: translateY(-0.2rem);
  }
}

.quantityBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem 0.8rem;
  background-color: $color-blue-light-grayish;
  border-radius: 1rem;

  &_text {
    color: $color-blue-dark-very;
  }

  &_btn {
    width: 1.2rem;
    height: 1.2rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s;
    &:hover,
    &:active {
      background-color: transparent;
    }

    &-minus,
    &-plus {
      mask-size: contain;
      background-color: $color-primary;
      width: 1.2rem;
      height: 1.2rem;
    }

    &-minus {
      mask: url("/images/icon-minus.svg") no-repeat center;
    }
    &-plus {
      mask: url("/images/icon-plus.svg") no-repeat center;
    }

    &:hover > * {
      background-color: $color-primary-light;
    }

    &:active {
      transform: translateY(-0.3rem);
    }
  }
}

.thumbnails {
  display: flex;
  gap: 3.2rem;

  &__item {
    width: 9rem;
    height: 9rem;
    border-radius: 1rem;
    overflow: hidden;
  }
  &__active {
    border: 2px solid $color-primary;

    & > img {
      opacity: 0.75;
    }
  }

  &__img {
    width: 100%;
    cursor: pointer;
    transition: all 0.3;

    &:hover {
      opacity: 0.5;
    }
  }
}

.cart {
  width: 36rem;
  display: flex;
  flex-direction: column;
  padding: 2.4rem 0;
  gap: 2.4rem;
  // border: 1px solid black;
  border-radius: 1rem;
  background-color: $color-white;
  position: relative;
  z-index: 100;

  &__title {
    color: $color-blue-dark-very;
    padding-bottom: 2.4rem;
    border-bottom: 1px solid $color-blue-light-grayish;
    padding-left: 1.2rem;
  }
  &__info {
    padding: 0 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    min-height: 15.7rem;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
  }

  &__img {
    width: 5rem;
    height: 5rem;
    border-radius: 0.4rem;
  }

  &__name {
  }

  &__total {
    color: $color-blue-dark-very;
  }

  &__btn--remove-icon {
  }

  &__checkout {
    background-color: $color-primary;
    font-family: $font-family-primary;
    font-size: 1.6rem;
    font-weight: $font-weight-bold;
    line-height: 2.6rem;
    border: none;
    width: 100%;
    padding: 1.6rem 0;
    border-radius: 1rem;
    color: $color-blue-dark-very;
    cursor: pointer;
    transition: all 0.3s;

    &:hover,
    &:active {
      background-color: $color-primary-light;
    }
  }
}
