.header {
  display: grid;
  grid-template-columns: max-content auto 1fr max-content max-content;
  height: 8.3rem;
  padding-bottom: 3.3rem;
  border-bottom: 1px solid $color-blue-grayish;
  &__logo {
    height: 2rem;
    fill: $color-blue-dark-very;
    display: block;
  }

  &__cart {
    position: relative;
    display: inline-block;
    width: 6.8rem;
    grid-column: 4/5;

    &-icon {
      width: 2.8rem;
      height: 2.6rem;
      //   display: block;
      position: relative;
      z-index: 1;
    }

    &-count {
      background-color: $color-primary;
      color: $color-white;
      font-size: 1rem;
      font-weight: $font-weight-bold;
      padding: 0.15rem 0.6rem;
      border-radius: 50%;
      position: absolute;

      top: -1rem;
      left: 1.5rem;
      z-index: 10;
    }
  }
  &__user-img {
    width: 5rem;
    border: 1px solid $color-primary;
    border-radius: 50%;
  }
  &__nav {
    &-items {
      display: grid;
      grid-template-columns: repeat(5, max-content);
      list-style: none;
      gap: 2rem;
      align-items: center;
      justify-content: start;
    }

    &-list {
    }
    &-link {
      &:link,
      &:visited {
        font-size: 1.5rem;
        line-height: 2.6rem;
        color: $color-blue-dark-grayish;
        text-decoration: none;
        font-weight: $font-weight-regular;
        font-family: $font-family-primary;
        text-align: center;
        display: block;
      }

      &:hover,
      :active {
      }
    }
  }
}
