.main {
  width: 110rem;
  border: none;
  // box-shadow: 0 3rem 6rem rgba($color-back, 0.5);
  display: flex;
  flex-direction: column;
  gap: 9.6rem;
}

.product {
  display: flex;

  justify-content: space-around;
  padding: 0;
}
