.text-pre-1 {
  font-size: 4.4rem;
  font-weight: $font-weight-bold;
  line-height: 4.8rem;
  color: $color-blue-dark-very;
}

.text-pre-2 {
  font-size: 2.8rem;
  font-weight: $font-weight-bold;
  line-height: 3.2rem;
  color: $color-blue-dark-very;
}

.text-pre-3--bold {
  font-size: 1.6rem;
  font-weight: $font-weight-bold;
  line-height: 2.6rem;
}
.text-pre-3--regular {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.text-pre-4 {
  font-size: 1.5rem;
  line-height: 2.6rem;
}

.text-pre-5 {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: $font-weight-bold;
  color: $color-blue-dark-very;
  letter-spacing: 2px;
}

.text-pre-6 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: $font-weight-bold;
  color: $color-blue-dark-very;
  letter-spacing: 1.5px;
}
