// CORLOR
$color-primary: #ff7e1b;
$color-primary-light: #ffab6a;

$color-secondary: #ffede0;

$color-blue-dark-very: #1d2026;
$color-blue-dark-grayish: #69706d;
$color-blue-grayish: #c3cad9;
$color-blue-light-grayish: #e4e9f2;
$color-blue-light-very: #f6f8fd;

$color-white: #fff;
$color-back: #000; //with 75% opacity for lightbox background

// FONT

$font-family-primary: "Kumbh Sans", sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 700;
